* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
}
@media (min-width: 1300px) {
    html {
        font-size: 110%;
    }
}
@media (min-width: 1500px) {
    html {
        font-size: 130%;
    }
} 
body {
    font-family: Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body._fixed {
    overflow: hidden;
}

/* Heading */
.gallery-heading {
    padding: 0 30px;
    line-height: 1.8rem;

    box-sizing: border-box;

    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}
.gallery-heading__title {
    margin: 50px auto 40px auto;

    text-align: center;

    font-size: 2rem;
    line-height: 2.8rem;
}
.gallery-heading__text {
    font-size: 1rem;
}
.gallery-heading__more-btn {
    display: none;

    background: #3498db;
    border: 1px solid #2980b9;
    border-radius: 3px;
    color: #fff;
    font: inherit;
    margin-top: 10px;
    padding: 3px 10px;
}
@media (min-width: 1300px) {
    .gallery-heading__title {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}
@media (max-width: 650px) {
    html { font-size: 90%; }
    .gallery-heading__title {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}
@media (max-width: 520px) {
    .gallery-heading__title {
        font-size: 1.3rem;
    }
}
@media (max-width: 485px) {
    .gallery-heading {
        padding: 0 15px;
    }
    .gallery-heading__title {
        margin-bottom: 20px;
    }
    .gallery-heading__text-more {
        display: none;
    }
    .gallery-heading__more-btn,
    .gallery-heading__text-more_shown {
        display: inline;
    }
}
@media (max-width: 390px) {
    .gallery-heading__title {
        font-size: 1.1rem;
    }
}

/* Content */
.content {
    flex: 1;
}
@media (min-width: 1300px) {
    .content {
        flex-direction: row;
        display: flex;
    }
    .gallery-heading {
        width: 30vw;
        margin: initial;
    }
    .gallery {
        width: 70vw;
        box-sizing: border-box;
    }
}

/* Images gallery */
.gallery {
    --grid-gap: 10px;

    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--grid-gap) / 2);
    margin: 50px 0;
}
.gallery__item {
    flex-grow: 1;
    margin: var(--grid-gap);
    height: 300px;
    position: relative;
}
.gallery__item-link {
    height: inherit;
    display: block;
}
.gallery__item-image {
    height: inherit;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;

    font-family: 'object-fit: cover;'; /* for IE, Edge */
}
.gallery__item:nth-child(4n+4) {
    flex-basis: 450px;
}
.gallery__item:nth-child(7n+7) {
    flex-basis: 560px;
}
.gallery__item-text {
    padding: 1vw;
    width: 100%;
    box-sizing: border-box;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #ecf0f1;
    opacity: 1;
    transition: .3s;
}
.gallery__item:hover {
    box-shadow: 0 3px 10px rgba(52, 73, 94, .3);
}
.gallery__item:hover .gallery__item-text {
    opacity: 0;
}
@media (max-width: 600px) {
    .gallery {
        flex-direction: column;
    }
    .gallery__item:nth-child(4n+4),
    .gallery__item:nth-child(7n+7) {
        flex-basis: auto;
    }
    .gallery__item-text {
        padding: 3vw;
    }
}
@media (min-width: 1300px) {
    .gallery__item {
        height: 400px;
    }
}
@media (min-width: 1600px) {
    .gallery__item {
        height: 500px;
    }
}

/* Footer */
.copyright {
    margin-top: 30px;
    padding: 30px;
    justify-content: flex-end;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

/* Image Full View */
#full-view-tpl {
    display: none;
}
.fi {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    padding: 2vh 2vw;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}
.fi__image {
    display: none;

    max-width: 100%;
    max-height: 100%;
}
.fi__image.fi__image_shown {
    display: block;
}
.fi__close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 130%;
    background: #000;
    color: #fff;
    border: none;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
